{% extends 'authentification/base.html' %}
{% load static %}
{% block content %}


<div class="container">
  <div class="card bg-light mb-3">
    <div style="padding-left: 5%;">
        <h1>Ajout d'une documentation de l'appareil : <strong>{{appareil.Appareil}}</strong>  </h1>
        <p> <strong> {{appareil.Code_machine}} </strong> </p>
    </div>
    <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Envoyer">
        </form>
    </div>
  </div>
</div>
<br>
<a href="{% url 'appareil-detail' appareil.id %}" style="padding: 10px;"><button type="button" class="btn btn-info">Retour aux détails</button></a>

{% endblock %}